<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		 <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> 
		<!-- vue语法环境 -->
		 <script src="https://unpkg.com/vue/dist/vue.min.js"></script> 
		<!-- vue使用Ajax -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- 引入饿了么Element组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script> 
		
		<style>
			.iinpu{
				width:180px;
			}
			 .tabelrole{
				 margin-left:30px;
				 width:440px;
				 height: 440px;
			/* 	 border: #0000FF 1px solid; */
			 }
            
		</style>
	</head>
	<body>
		<div id="app">
		<template>
 
  <div class="block">
	  <el-form :inline="true" ref="form" :model="form" label-width="80px">
		<el-form-item label="推荐位置">
		<el-select  v-model="positionsId" placeholder="请选择" width="80px" >
			<el-option label="无" value="0"></el-option>

			<el-option label="位置一" value="1"></el-option>
			<el-option label="位置二" value="2"></el-option>
		
			
	</el-form-item>
	<el-form-item>
		<el-button type="primary" size="mini" plain icon="el-icon-search" @click="courselistpage">查询</el-button>
	</el-form-item>
 <el-form-item>
  <el-button type="primary" size="mini" @click="addtj" icon="el-icon-plus" plain>新增</el-button>
  </el-form-item>
 
  </el-form>
    <div id="tabl">
		<el-table :data="tableData" size="mini" border="true" :default-sort = "{prop: 'date', order: 'descending'}" 
		 highlight-current-row @current-change="handleCurrentChange"
			style="width:1000px" max-height="400">
			 <!-- <el-table-column type="selection" align="center" width="55"></el-table-column> --> 
			  <el-table-column type="index" width="50" align="center" label="行号"></el-table-column>
			<el-table-column prop="discusscourseId" align="center"  label="推荐id" width="100">
			</el-table-column>
	 	
		<el-table-column prop="kechId" align="center"  sortable label="课程id" width="100">
		</el-table-column>
		<el-table-column prop="teacherId" align="center"  sortable label="老师id" width="100">
		</el-table-column>
		<el-table-column prop="discussWeigh" align="center"  sortable label="权重" width="100">
		</el-table-column>
		
		<el-table-column prop="discussStatus" align="center"  :formatter="formartShow" label="主题推荐状态" width="100">
		</el-table-column>
		<el-table-column prop="positionsId" align="center"  label="推荐位置" width="160">
		</el-table-column> 
		<el-table-column  label="操作" align="center" width="180">
				<template slot-scope="scope">
					<el-button  @click="updatecourse(scope.row)"
				type="text"
				size="small">
				编辑
			</el-button>
		 <el-button @click="deleteRow(scope.row)"
          type="text"
          size="small">
          移除
        </el-button>
			</template>
		</el-table-column>
		</el-table>
	</div>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChang"
      :current-page="page"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="rows"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total">
    </el-pagination>
  </div>
  </template>


	 <el-dialog title="编辑推荐信息" :visible.sync="updatecoursedialogFormVisible">
		<el-form status-icon :model="updatecourseform" ref="updatecourseform">
		<el-form-item label="权重"  :label-width="formLabelWidth" >
			<el-input v-model="updatecourseform.discussWeigh" style="width: 180px;" autocomplete="off"></el-input>
		</el-form-item>
			 <el-form-item label="是否推荐"  :label-width="formLabelWidth">
      <el-select  v-model="updatecourseform.discussStatus"  placeholder="请选择">
        <el-option label="是" value="1"></el-option>
        <el-option label="否" value="0"></el-option>
      </el-select>
    </el-form-item>
				<el-form-item label="推荐位置"  :label-width="formLabelWidth">
				<el-select  v-model="updatecourseform.positionsId" placeholder="请选择">
					<el-option label="位置一" value="1"></el-option>
					<el-option label="位置二" value="2"></el-option>
					
					
			</el-form-item>
		</el-form>
		<div slot="footer" class="dialog-footer">
			<el-button @click="updatecoursedialogFormVisible = false">取 消</el-button>
			<el-button type="primary" @click="updatecoursesubmitForm('updatecourseform')">确 定</el-button>
		</div>
	</el-dialog>
	
</div>
	</body>

	<script>
				var access_token = window.localStorage.getItem("access_token"); //获取登录页面中暂时存储的数据
		var userIds = window.localStorage.getItem("uid"); //
		var refresh_token = window.localStorage.getItem("refresh_token");
		var rid = window.localStorage.getItem("rid"); //
		new Vue({
			el: '#app',
			data:function() {
				
			return {
				 rolegridData: '',
				 rolegridData2: '',
				page: 1,
				rows:10,
				total:'',
				tableData:'',
				positionsId:'',
		    currentRow: null,
				 options: [{
          value: '1',
          label: '是'
        }, {
          value: '0',
          label: '否'
        }],
		
		updatecoursedialogFormVisible:false,
		
		formLabelWidth: '120px',
        value: '',
		updatecourseform: {
			discusscourseId	:'',
			positionsId:'',
			discussStatus:'',
			discussWeigh:''
		},
       form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        }
	
       
        
			}; 
			},
			created:function(){
				/* this.$options.methods.userlistpage(); */
				this.courselistpage();
			},
			methods: {
				addtj(){
					var _this=this;
					axios({
						method: 'put',
						url: 'http://localhost:8006/course/addCourse',
						params: {
							access_token:access_token
						}
						
					})
					.then(function (response) {
						_this.$message({
							type: 'success',
							message: response.data.msg
						});
						
						console.log(response.data);
						})
						.catch(function (error) {
						console.log(error);
						});
				},
				  
				courselistpage(){
					var _this=this;
					axios({
						method: 'get',
						url: 'http://localhost:8006/discusscourse/queryCourseByPage',
						params: {
						page: _this.page,
						rows:_this.rows,
					  id:_this.positionsId,
					  access_token:access_token
						} 
					})
					.then(function (response) {
						_this.tableData=response.data.rows;
						_this.total=response.data.total
						console.log(response);
						console.log(response.data);
						})
						.catch(function (error) {
						console.log(error);
						});
					
					
				},
				updatecoursesubmitForm(formName){
					var _this=this;
					this.$refs[formName].validate((valid) => {
						if(valid) {
							axios({
								method: 'post',
								url:'http://localhost:8006/discusscourse/updateDiscusscourse',
								params: {
								discusscourseId	:_this.updatecourseform.discusscourseId	,
								positionsId: _this.updatecourseform.positionsId,
								discussStatus:_this.updatecourseform.discussStatus,
								discussWeigh:_this.updatecourseform.discussWeigh,
								access_token:access_token
								}
							})
							.then(function (response) {
								_this.courselistpage();

						_this.$message({
							type: 'success',
							message: response.data.msg
						});
						
						
							_this.updatecoursedialogFormVisible=false;
								})
								.catch(function (error) {
								console.log(error);
								});
							
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
	  deleteRow(row){
		 var _this=this;
		 _this.$confirm('此操作将删除该推荐信息, 是否继续?', '提示', {
		 		confirmButtonText: '确定',
		 		cancelButtonText: '取消',
		 		type: 'warning'
		 	}).then(() => {
		 axios({
		 	method: 'delete',
		 	url:'http://localhost:8006/discusscourse/deleteDiscusscourse',
		 	params: {
		 	discusscourseId: row.discusscourseId,
		 	access_token:access_token
		 	}
		 })
		 .then(function (response) {
			 _this.courselistpage();

		 _this.$message({
		 	type: 'success',
		 	message: response.data.msg
		 });
		
		 	})
		 	.catch(function (error) {
		 	console.log(error);
		 	});
		 	
		 	}).catch(() => {
		 		_this.$message({
		 			type: 'info',
		 			message: '已取消删除'
		 		});          
		 	});
	  },
	  updatecourse(row){
			this.updatecourseform.discussWeigh=row.discussWeigh;
			this.updatecourseform.positionsId=row.positionsId;
			this.updatecourseform.discussStatus=row.discussStatus;
				this.updatecourseform.discusscourseId=row.discusscourseId;
				this.updatecoursedialogFormVisible=true;
			},
	   setCurrent(row) {
        this.$refs.singleTable.setCurrentRow(row);
      },
			 handleCurrentChange(val) {
        this.currentRow = val; 
		},
			handleSizeChange(val) {
				this.rows = val;
				this.courselistpage();
				console.log(`每页 ${val} 条`);
			},
			
			handleCurrentChang(val) {
					this.page=val;
					this.courselistpage();
					console.log(`当前页: ${val}`);
				},
			formartShow(row, column, cellValue, index){
				if(cellValue == 1) {
					return "是";
				} else {
					return "否";
				}
			}
			
			
			}
			})
	</script>
	<script>
		
	
		
	
	</script>
</html>
