<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> 
		<!-- vue语法环境 -->
		<script src="https://unpkg.com/vue/dist/vue.min.js"></script> 
		<!-- vue使用Ajax -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- 引入饿了么Element组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script> 
	</head>
	<body>
		<div id="app">
			<div class="buttons">
			  
			  <el-button icon="el-icon-plus" type="primary" size="mini" @click="insertModule">添加</el-button>
			  <el-button icon="el-icon-plus" type="primary" size="mini" @click="delmodule">删除</el-button>
				<el-button icon="el-icon-plus" type="primary" size="mini" @click="updatemodule">修改</el-button>
			</div>
		<el-tree
  :data="data2"
  
  default-expand-all
  node-key="moduleId"
  ref="tree"
	highlight-current
  :props="defaultProps">
</el-tree>

<el-dialog title="新增模块" :visible.sync="addmoduledialogFormVisible">
				<el-form status-icon :model="addrolerulesfrom" ref="addrolerulesfrom">
					<el-form-item   label="模块名称" :label-width="formLabelWidth">
						<el-input v-model="addrolerulesfrom.label" placeholder="请输入模块名" style="width: 180px;" autocomplete="off"></el-input>
					</el-form-item>
					<el-form-item   label="模块路径" :label-width="formLabelWidth">
						<el-input v-model="addrolerulesfrom.moduleUrl" placeholder="模块路径" style="width: 180px;" autocomplete="off"></el-input>
					</el-form-item>
					<el-form-item   label="权重值" :label-width="formLabelWidth">
						<el-input v-model="addrolerulesfrom.moduleWeight" placeholder="权重值" style="width: 180px;" autocomplete="off"></el-input>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button @click="addmoduledialogFormVisible = false">取 消</el-button>
					<el-button type="primary" @click="addmodulesubmitForm('addrolerulesfrom')">确 定</el-button>
				</div>
			</el-dialog>
			<el-dialog title="编辑模块" :visible.sync="updatemoduledialogFormVisible">
							<el-form status-icon :model="updaterolerulesfrom" ref="updaterolerulesfrom">
								<el-form-item   label="模块名称" :label-width="formLabelWidth">
									<el-input v-model="updaterolerulesfrom.label" placeholder="请输入模块名" style="width: 180px;" autocomplete="off"></el-input>
								</el-form-item>
								<el-form-item   label="模块路径" :label-width="formLabelWidth">
									<el-input v-model="updaterolerulesfrom.moduleUrl" placeholder="模块路径" style="width: 180px;" autocomplete="off"></el-input>
								</el-form-item>
								<el-form-item   label="权重值" :label-width="formLabelWidth">
									<el-input v-model="updaterolerulesfrom.moduleWeight" placeholder="权重值" style="width: 180px;" autocomplete="off"></el-input>
								</el-form-item>
							</el-form>
							<div slot="footer" class="dialog-footer">
								<el-button @click="updatemoduledialogFormVisible = false">取 消</el-button>
								<el-button type="primary" @click="updatemodulesubmitForm('updaterolerulesfrom')">确 定</el-button>
							</div>
						</el-dialog>
</div>
	</body>
	<script>
			var access_token = window.localStorage.getItem("access_token"); //获取登录页面中暂时存储的数据
		var userId = window.localStorage.getItem("uid"); //
		var refresh_token = window.localStorage.getItem("refresh_token");
		var rid = window.localStorage.getItem("rid"); //
		var meth;
		var checkedarr=[];
		var t;
		new Vue({
			el:"#app",
		  methods: {
				updatemodulesubmitForm(formName){
					
					var ids=this.$refs.tree.getCurrentNode().moduleId;
					
					
					var _this=this;
					this.$refs[formName].validate((valid) => {
						if(valid) {
							axios({
								method: 'post',
								url:'http://localhost:8006/module/updateModule',
								params: {
								mName: _this.updaterolerulesfrom.label,
								mUrl:_this.updaterolerulesfrom.moduleUrl,
								mWeight:_this.updaterolerulesfrom.moduleWeight,
								mid:ids,
								access_token:access_token
								}
							})
							.then(function (response) {
						_this.$message({
							type: 'success',
							message: response.data.message
						});
						_this.lefttree();
						
							_this.updatemoduledialogFormVisible=false;
							
								})
								.catch(function (error) {
								console.log(error);
								});
							
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				updatemodule(){
					var a=this.$refs.tree.getCurrentNode();
					if(a==null){
					this.$message({
						type: 'success',
						message: '请选择节点名称'
					});
					return;
					}
					this.updaterolerulesfrom.moduleWeight=a.moduleWeight,
					this.updaterolerulesfrom.moduleUrl=a.moduleUrl;
						this.updaterolerulesfrom.label=a.label;
						this.updaterolerulesfrom.moduleId=a.moduleId;
					
				
					this.updatemoduledialogFormVisible=true;
				},
				delmodule(){
					var mid=this.$refs.tree.getCurrentKey();
					if(mid==null){
					this.$message({
						type: 'success',
						message: '请选择节点名称'
					});
					return;
					}
					var _this=this;
					_this.$confirm('此操作将永久删除该模块, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
						}).then(() => {
					axios({
						method: 'delete',
						url:'http://localhost:8006/module/deleteModule',
						params: {
						mid:mid,
						access_token:access_token
						}
					})
					.then(function (response) {
					_this.$message({
						type: 'success',
						message: response.data.message
					});
					_this.lefttree();
						})
						.catch(function (error) {
						console.log(error);
						});
						
						}).catch(() => {
							_this.$message({
								type: 'info',
								message: '已取消删除'
							});          
						});
				},
				addmodulesubmitForm(formName){
					
					var ids=this.$refs.tree.getCurrentKey();
					
					
					var _this=this;
					this.$refs[formName].validate((valid) => {
						if(valid) {
							axios({
								method: 'put',
								url:'http://localhost:8006/module/insertModule',
								params: {
								mName: _this.addrolerulesfrom.label,
								mUrl:_this.addrolerulesfrom.moduleUrl,
								mWeight:_this.addrolerulesfrom.moduleWeight,
								pid:ids,
								access_token:access_token
								}
							})
							.then(function (response) {
						_this.$message({
							type: 'success',
							message: response.data.message
						});
						_this.lefttree();
						
							_this.addmoduledialogFormVisible=false;
							
								})
								.catch(function (error) {
								console.log(error);
								});
							
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				 			lefttree(){
								 meth=this.$options.methods;
								
				 var _this=this;
				 axios.get('http://localhost:8006/role/queryRoleSetModuleTree?roleIds='+rid+'&access_token='+access_token)
				 				.then(function(response){
				 		_this.data2=response.data;
					  
				 				})
				 				.catch(function(error){
				 					console.log(error);
				 				});
				 //console.log(this.date);
				 },
				 insertModule(){
					
					 if(this.$refs.tree.getCurrentKey()==null){
					 	this.$message({
					 		type: 'success',
					 		message: '请选择节点名称'
					 	});
					 	return;
					 }
					 this.addmoduledialogFormVisible=true;
				 },
       getCheckedKeys() {
				var ids=this.$refs.tree.getCheckedKeys();
				var idss=ids.join(",");
				console.log(this.$refs.tree.getCheckedKeys());
				var _this=this;
									
											axios({
												method: 'post',
												url:'http://localhost:8006/role/insertRolesMoudelBy',
												params: {
												moduleId:idss,
												rid:rid,
											  access_token:access_token
												}
											})
											.then(function (response) {
										    _this.$message({
											type: 'success',
											message: response.data.message
										});
										_this.rolelistpage();
				
											_this.dialogFormVisible=false;
										
												})
												.catch(function (error) {
												console.log(error);
												});
										}
        },

    data:function() {
      return {
				formLabelWidth: '120px',
				updaterolerulesfrom: {
					moduleWeight: '',
					moduleUrl: '',
					label:'',
					moduleId:''
				},
				updatemoduledialogFormVisible:false,
				addrolerulesfrom: {
					moduleWeight: '',
					moduleUrl: '',
					label:'',
					parentId:''
				},
				addmoduledialogFormVisible:false,
        data2:'', 
        defaultProps: {
          children: 'children',
          label: 'label'
        }
      };
    },
	created:function(){
		this.lefttree();
		}
		})
	</script>
</html>
