<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/element-ui.css" />
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue-router.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/element-ui.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<el-container style="height: auto; border: 1px solid red">
				<el-container>
					<el-header>
						<template style="letter-spacing: inherit;">
							<h3>讨论区</h3>
							<div>

							</div>
							<el-select v-model="value" placeholder="请选择" style="margin-left: 1200px; margin-top: -40px; display: block;">
								<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
								</el-option>
							</el-select>
							<!-- <el-input v-model="input" placeholder="请输入内容" style="margin-left: 1200px; display: block; margin-top: -60px;"></el-input> -->
						</template>
						<span style="font-size: 13px; margin-top: -15px; display: block;">欢迎大家来到讨论区！本讨论区供各位同学就课程问题进行讨论、交流、学习。请同学认真阅读下面的【讨论区使用规则】，然后在进行相关的发表，谢谢！</span>
					</el-header>
					<el-main>
						<el-button type="success" src="zhuti.html">发起主题</el-button>
						<h4>子模块</h4>
						<el-formS>
							<el-form-item label="老师答疑区">
							</el-form-item>
							<el-form-item label="课堂交流区">
							</el-form-item>
							<el-form-item label="综合讨论区">
							</el-form-item>
						</el-form>
						<h4 style="margin-left: 2px;">我关注的主题</h4>
					</el-main>
					
					<el-footer>

					</el-footer>
				</el-container>
			</el-container>
		</div>
	</body>
	<script>
		new Vue({
			el: '#app',
			data: {
				options: [{
					value: '选项1',
					label: '全部讨论区'
				}, {
					value: '选项2',
					label: '老师答疑区'
				}, {
					value: '选项3',
					label: '课堂交流区'
				}, {
					value: '选项5',
					label: '综合讨论区'
				}],
				value: ''
			}
		})
	</script>
</html>
