<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
	<!--no-js 检测当前浏览器是否支持css3、h5 并且使浏览器支持h5新标签。。-->

	<head>
		<meta charset="utf-8" />
		<title>河南工业大学IT教育</title>
	</head>
	<!--自定义css文件-->
	<link rel="stylesheet" href="css/hj_css.css" type="text/css" />
	<link rel="stylesheet" href="css/element-ui.css" />
	<link rel="stylesheet" href="css/center.css" />
	<!--模板首页工共js、css文件引用-->
	<script src="js/commonCss.js"></script>
	<script src="js/commonJs.js"></script>
	<script src="js/kechengtongji.js"></script>
	<script src="js/echarts.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/element-ui.js"></script>

	<body id="body" class="wide-layout preloader-active">
		<div class="header-menu bg-blue" id="topMenu" style="line-height:0">//calss里的topPosition 属性和style是用于固定顶部的 不需要固定可以删除
			<div class="container">
				<div class="row">
					<div class="container">
						<nav class="nav-bar">
							<div class="nav-header">
								<span class="nav-toggle" data-toggle="#header-navbar">
									<i></i>
									<i></i>
									<i></i>
								</span>
							</div>
							<div id="header-navbar" class="nav-collapse">
								<ul class="nav-menu">
									<li>
										<span>
											<a href="index.html" class="logo" style="margin-left: -10px;">
												<img src="http://localhost:8010/MSLOGO1.PNG" alt="" width="120px" style="height: 50px">
											</a>
										</span>
									</li>
									<li class="dropdown-mega-menu">
										<a>课程</a>
										<div class="mega-menu" style="width: 39%;">
											<ul style="overflow: hidden; width: 100%;">
												<li v-for="(a,index) in category" v-if="index<6" style="width: 200px; float: left;">
													<a href="#"><img src="http://localhost:8010/img/apple-touch-icon.png" class="manuImg" />{{a}}</a>
												</li>
												<li v-else style="width:200px; float: left;">
													<a href="#"><img src="http://localhost:8010/img/apple-touch-icon.png" class="manuImg" />{{a}}</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<a href="coupons_grid.html">2019考研</a>
									</li>
									<li>
										<a href="stores_01.html">学校云</a>
									</li>
									<li>
										<a href="contact_us_01.html">名师专栏</a>
									</li>
									<li style=" margin-left: 100px;">
										<input type="text" class="form-control input-lg search-input" placeholder="搜索感兴趣的课程" required="required"
										 style=" border: none; margin-top:9px; background-color: white; height: 39px; width: 260px;" />
									</li>
									<li>
										<el-button type="success" style=" margin-top: 9px;" icon="el-icon-search"></el-button>
									</li>
									<li id="topUser" style="margin-top: 8px; width: 100px; height: 10px; ">
										<div id="myCenter1" style="width: 100%;">
											<el-menu class="el-menu-demo" mode="horizontal" style="border-bottom: none;" active-text-color="#fff">
												<el-submenu index="2">
													<template slot="title">
														<a href="myCenter.html" style="color: white;">个人中心</a>
													</template>
													<div style="width: 20%; margin: 5px auto;">
														<img src="http://localhost:8010/MSLOGO.png" class="myImage" style="border:  solid 1px rosybrown;">
													</div>
													<div style="margin: 0 auto; text-align: center; font-size: 20px;">userName</div>
													<el-menu-item>
														<div class="myCourse" style="text-align: center;"><a>计算机</a></div>
													</el-menu-item>
													<el-menu-item>
														<div class="myCourse" style="text-align: center;"><a>大数据分析</a></div>
													</el-menu-item>
													<el-menu-item>
														<div class="myCourse" style="text-align: center;"><a>面向对象编程Java</a></div>
													</el-menu-item>
													<div class="myButton">
														<a href="myCenter.html"><span style="color: #FFFFFF;">我的课程</span></a>
													</div>
												</el-submenu>
											</el-menu>
										</div>
									</li>
									<li id="topUser" style="float: left; margin-top:8px; width:120px; ">
										<div id="myHeadPic1">
											<el-menu class="el-menu-demo" mode="horizontal" style="border-bottom: none;" active-text-color="#fff">
												<el-submenu>
													<template slot="title">
														<a href="myCenter.html"><img src="http://localhost:8010/MSLOGO.png" style="border:  solid 1px rosybrown; width: 100%;"
															 class="myPic"></a>
													</template>
													<div style="font-size: 14px; color: #869791; text-align: center; ">"张三"登录中</div>
													<hr />
													<el-menu-item>
														<div class="mySetting">我的认证证书</div>
													</el-menu-item>
													<el-menu-item>
														<div class="mySetting">我的优惠券</div>
													</el-menu-item>
													<el-menu-item>
														<div class="mySetting">设置</div>
													</el-menu-item>
													<el-menu-item>
														<div class="mySetting">退出</div>
													</el-menu-item>
												</el-submenu>
											</el-menu>
										</div>
									</li>
								</ul>
							</div>

						</nav>
					</div>
				</div>
			</div>
		</div>





		<span id="center_user">
			<div id="xinxi" style=" background-image: url(img/xinxi1.jpg); moz-background-size:100% 100%; background-size:100% 100%;">
				<div id="touxiang">
					<a title="编辑图片" href="install.html">
						<img alt="编辑图片" id="timg" :src="imgurl+'/'+imgname" />
					</a>
					<script type="text/javascript">
						var app = new Vue({
							el: '#touxiang',
							data() {
								return {
									urlPre: "http://localhost:8030/user",
									imgurl: "",
									imgname: "",
								};
							},
							created: function() {
								var vm = this;
								axios.get(`${vm.urlPre}/userinfo?uid=2`)
									.then(function(response) {
										vm.imgurl = response.data.ui_headportrait;
										vm.imgname = response.data.ui_headportraitname;
										console.log(response);
										//alert(response.data.ui_nickname)
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							}
						});
					</script>
				</div>
				<div id="guanzhu">
					<span v-if=ismyself>

					</span>
					<span v-else-if="isorno==0">
						<el-button type="primary" size="small " @click="gz" icon="el-icon-circle-plus-outline">{{fans}}</el-button>
					</span>
					<span v-else>
						<el-button type="info" size="small " @click="qgz">{{nofans}}</el-button>
					</span>
					<script type="text/javascript">
						var app = new Vue({
							el: '#guanzhu',
							data() {
								return {
									urlPre: "http://localhost:8030/user",
									fans: "关注",
									nofans: "已关注",
									ismyself: false,
									isorno: 0,
								}
							},
							mounted: function() {
								var vm = this;
								axios.get(`${vm.urlPre}/getIsMyfocus?uid=1&fid=8`)
									.then(function(response) {
										vm.isorno = response.data;
										//alert(response.data)
										console.log(response);
										//alert(response.data.ui_nickname)
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							},
							methods: {
								gz: function() {
									var vm = this;
									axios.post(`${vm.urlPre}/postMyfocus?uid=1&fid=8`)
										.then(function(response) {
											vm.isorno = 1;
											console.log(response);
											console.log(response.data);
										})
										.catch(function(error) {
											console.log(error);
										});
								},
								qgz: function() {
									var vm = this;
									axios.delete(`${vm.urlPre}/deleteMyfocus?uid=1&fid=8`)
										.then(function(response) {
											vm.isorno = 0;
											console.log(response);
											console.log(response.data);
										})
										.catch(function(error) {
											console.log(error);
										});
								}
							}
						});
					</script>
				</div>
				<div id="nickname">
					{{msg}}
					<script type="text/javascript">
						var app = new Vue({
							el: '#nickname',
							data() {
								return {
									urlPre: "http://localhost:8030/user",
									msg: "",
								};
							},
							created: function() {
								var vm = this;
								axios.get(`${vm.urlPre}/userinfo?uid=2`)
									.then(function(response) {
										vm.msg = response.data.ui_nickname;
										console.log(response);
										//alert(response.data.ui_nickname)
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							}
						});
					</script>
				</div>
				<div id="zhiye">
					{{zhiye}}&nbsp;|&nbsp;{{zhiyexiangqing}}
					<script type="text/javascript">
						var app = new Vue({
							el: '#zhiye',
							data() {
								return {
									zhiye: "学生",
									zhiyexiangqing: "河南工业-其他"
								};
							}
						});
					</script>
				</div>
				<!-- <div id="fans">
									<a href="#" style="color: #8CC5FF;"><span id="myfans">关注{{mfans}}人</span></a>&nbsp;|
									<a href="#" style="color: #8CC5FF;"><span id="myfous">粉丝{{mfous}}人</span></a>
									<script type="text/javascript">
										var app = new Vue({
											el: '#fans',
											data() {
												return {
													urlPre: "http://localhost:8030/user",
													mfans: 0,
													mfous: 0,
												};
											},
											created: function() {
												var vm = this;
												axios.get(`${vm.urlPre}/getMyFansCount?uid=1`)
													.then(function(response) {
														vm.mfous = response.data;
														console.log(response);
														console.log(response.data);
													})
													.catch(function(error) {
														console.log(error);
													});
											},
											mounted: function() {
												var vm = this;
												axios.get(`${vm.urlPre}/getMyfocusCount?uid=1`)
													.then(function(response) {
														vm.mfans = response.data;
														console.log(response);
														console.log(response.data);
													})
													.catch(function(error) {
														console.log(error);
													});
											}
										});
									</script>
								</div> -->
				<div id="fansorfous">
					<el-button type="text" @click="fanstab">粉丝{{mfans}}人</el-button>
					<el-button type="text" @click="foustab">粉丝{{mfous}}人</el-button>
					<el-dialog width="820px" :visible.sync="op" style="margin-top: -50px;">
						<el-tabs style="margin-top: -50px;" v-model="activeName" id="fansdig" @tab-click="handleClick">
							<el-tab-pane class="fansfans" :label="ss" name="myfans">
								<div class="daxiao">
									<div class="xh" v-for="l in fanslist">
										<a href="user_update.html">
											<img class="ftimg" :src="l.ui_headportrait+'/'+l.ui_headportraitname" />
										</a>
										<div class="fname" v-text="l.ui_nickname"></div>
										<span class="fxinxi">{{shenfen}}&nbsp;|</span>
										<span class="fxinxi">{{xuexiao}}</span>
										<span id="ffans" class="fxinxi">粉丝{{fensi}}人
											<script type="text/javascript">
												var app = new Vue({
													el: '#ffans',
													data() {
														return {
															fensi: 0,
															urlPre: "http://localhost:8030/user",
														};
													},
													created: function() {
														var vm = this;
														axios.get(`${vm.urlPre}/getMyFansCount?uid=l.u_uid`)
															.then(function(response) {
																vm.fensi = response.data;
																console.log(response);
																alert(response.data)
																console.log(response.data);
															})
															.catch(function(error) {
																console.log(error);
															});
													}
												});
											</script>
										</span>
										<span class="fguanzhu" v-if="1==3">
											<el-button type="primary" size="small " icon="el-icon-circle-plus-outline">相互关注
										</span>
										<span class="qfguanzhu" v-else>
											相互关注
										</span>
									</div>
								</div>

							</el-tab-pane>
							<el-tab-pane class="fansfans" :label="sa" name="myfous">
								<div class="daxiao">
									<div class="xh" v-for="l in fouslist">
										<a href="user_update.html">
											<img class="ftimg" :src="l.ui_headportrait+'/'+l.ui_headportraitname" />
										</a>
										<div class="fname" v-text="l.ui_nickname"></div>
										<span class="fxinxi">{{shenfen}}&nbsp;|</span>
										<span class="fxinxi">{{xuexiao}}</span>
										<span class="fxinxi">粉丝0人</span>
										<span class="fguanzhu" v-if="1==3">
											<el-button type="primary" size="small " icon="el-icon-circle-plus-outline">关注
										</span>
										<span class="qfguanzhu" v-else>
											已关注
										</span>
									</div>
								</div>
							</el-tab-pane>
						</el-tabs>
					</el-dialog>
				</div>
				<script type="text/javascript">
					var app = new Vue({
						el: '#fansorfous',
						data() {
							return {
								mfans: 0,
								mfous: 0,
								op: false,
								activeName: '',
								fanslist: [],
								fouslist: [],
								shenfen: "学生",
								xuexiao: "河南工业大学",
								ss: "我的粉丝",
								sa: "我的关注",
								urlPre: "http://localhost:8030/user",
							};
						},
						methods: {
							fanstab() {
								var vm = this;
								vm.op = true;
								vm.activeName = "myfans";

							},
							foustab() {
								var vm = this;
								vm.op = true;
								vm.activeName = "myfous";
							},
							handleClick(tab, event) {
								console.log(tab, event);
							},
							getfans() {
								var vm = this;
								axios.get(`${vm.urlPre}/getMyFans?uid=1`)
									.then(function(response) {
										vm.fanslist = response.data;
										console.log(response);
										//alert(response.data)
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							},
							getfanscount() {
								var vm = this;
								axios.get(`${vm.urlPre}/getMyFansCount?uid=1`)
									.then(function(response) {
										vm.mfans = response.data;

										console.log(response);
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							},
							getfous() {
								var vm = this;
								axios.get(`${vm.urlPre}/getMyfocus?uid=1`)
									.then(function(response) {
										vm.fouslist = response.data;
										console.log(response);
										//alert(response.data)
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							},
							getfouscount() {
								var vm = this;
								axios.get(`${vm.urlPre}/getMyfocusCount?uid=1`)
									.then(function(response) {
										vm.mfous = response.data;
										console.log(response);
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							}

						},
						created: function() {
							this.getfans();
							this.getfous();
							this.getfanscount();
							this.getfouscount();
						}
					});
				</script>
				<div id="huifutubiao" title="发帖数、回复数、评论数之和">
					<font size="10"><i class="el-icon-edit-outline"></i></font>
				</div>
				<div id="huifufont" title="发帖数、回复数、评论数之和">
					<font size="4" color="8CC5FF">
						主题/回复
					</font>
				</div>
				<div id="huifunum" title="发帖数、回复数、评论数之和">
					{{hnum}}
					<script type="text/javascript">
						var app = new Vue({
							el: '#huifunum',
							data() {
								return {
									urlPre: "http://localhost:8030/postbar",
									hnum: 0,
								};
							},
							created: function() {
								var vm = this;
								axios.get(`${vm.urlPre}/getPostbarAndReplyAndCommentCountByuId?uid=1`)
									.then(function(response) {
										vm.hnum = response.data;
										console.log(response);
										//alert(response.data)
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							}
						});
					</script>
				</div>
				<div id="huozantubiao" title="获得赞数之和">
					<font size="10"><i class="el-icon-view"></i></font>
				</div>
				<div id="huozanfont" title="获得赞数之和">
					<font size="4" color="8CC5FF">获赞数量</font>
				</div>
				<div id="huozannum" title="获得赞数之和">
					{{hznum}}
					<script type="text/javascript">
						var app = new Vue({
							el: '#huozannum',
							data() {
								return {
									urlPre: "http://localhost:8030/postbar",
									hznum: 0,
								};
							},
							created: function() {
								var vm = this;
								axios.get(`${vm.urlPre}/getPostbarAndReplyAndCommentGoodCountByuId?uid=1`)
									.then(function(response) {
										vm.hznum = response.data;
										console.log(response);
										//alert(response.data)
										console.log(response.data);
									})
									.catch(function(error) {
										console.log(error);
									});
							}
						});
					</script>
				</div>
				<div id="xuefentubiao" title="累计学习学分">
					<font size="15"><i class="el-icon-time"></i></font>
				</div>
				<div id="xuefenfont" title="累计学习学分">
					<font size="4" color="8CC5FF">学习学分</font>
				</div>
				<div id="xuefennum" title="累计学习学分">
					{{xnum}}
					<script type="text/javascript">
						var app = new Vue({
							el: '#xuefennum',
							data() {
								return {
									xnum: 76,
								};
							}
						});
					</script>
				</div>
			</div>
			<div id="tongji">
				<el-tabs v-model="activeName" id="ktz1" @tab-click.self="handleClick">
					<el-tab-pane label="用户管理" name="first">
						<div id="main1" style="width:500px;height:300px;">
						</div>
					</el-tab-pane>
					<el-tab-pane label="配置管理" name="second">
						<div id="tp" style="width: 600px ; height: 300px; background-image: url(img/15-目标.png);">

						</div>
					</el-tab-pane>
				</el-tabs>
				<script type="text/javascript">
					var app = new Vue({
						el: '#ktz1',
						data() {
							return {
								activeName: 'first'
							};
						},
						methods: {
							handleClick(tab, event) {
								console.log(tab, event);
							}
						}
					});
				</script>
			</div>
			<div id="ktz">
				<el-tabs v-model="activeName" id="ktz" type="card" @tab-click.self="handleClick">
					<el-tab-pane label="课程" name="first">
						<div class="xh" v-for="l in fouslist">
							<span v-text="l.name"></span>
							<span v-text="l.img"></span>
						</div>
					</el-tab-pane>
					<el-tab-pane label="讨论" name="second">
						<div v-for="l in fanlist">
							<span v-text="l.name"></span>
							<span v-text="l.img"></span>
						</div>
					</el-tab-pane>
				</el-tabs>
				<script type="text/javascript">
					var app = new Vue({
						el: '#ktz',
						data() {
							return {
								fouslist: [{
									name: "aaaa",
									img: "img"
								}, {
									name: "aaaa",
									img: "img"
								}, {
									name: "aaaa",
									img: "img"
								}],
								fanlist: [{
									name: "aaaa",
									img: "img"
								}, {
									name: "aaaa",
									img: "img"
								}, {
									name: "aaaa",
									img: "img"
								}],
								activeName: 'first',
							};
						},
						methods: {
							handleClick(tab, event) {
								console.log(tab, event);
							}
						}
					});
				</script>
			</div>
		</span>
		<script src="js/kechengtongji.js"></script>

		<!-- scrolling=no(取消iframe滚动条) onLoad事件调用iFrameHeight方法解决iframe自适应高度问题 -->
		<iframe src="buttom.html" id="iframepage" scrolling=no width="100%" onLoad="iFrameHeight()" style="margin-top: 30px; margin-bottom: -7px;"></iframe>

	</body>
	<script>
		function iFrameHeight() {
			var ifm = document.getElementById("iframepage");
			var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
			if (ifm != null && subWeb != null) {
				ifm.height = subWeb.body.scrollHeight;
			}
		}
	</script>

	<!--顶部导航 虚拟dom（不固定）-->
	<script>
		let topMenu = new Vue({
			el: '#topMenu',
			data: {
				category: []
			},
			methods: {
				//获取所有分类
				getCategory: function() {
					let tis = this;
					axios.get('http://localhost:8010/category').then(function(response) {
						tis.category = response.data
					}).catch(function(error) {
						console.log(error);
					});
				}
			},
			mounted() {
				this.getCategory();
			}
		})
	</script>





</html>
