<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
	<!--no-js 检测当前浏览器是否支持css3、h5 并且使浏览器支持h5新标签。。-->

	<head>
		<meta charset="utf-8" />
		<title>河南工业大学IT教育</title>
	</head>
	<!--自定义css文件-->
	<link rel="stylesheet" href="css/hj_css.css" type="text/css" />
	<link rel="stylesheet" href="css/element-ui.css" />
	<link rel="stylesheet" href="css/center.css" />
	<!--模板首页工共js、css文件引用-->
	<script src="js/commonCss.js"></script>
	<script src="js/commonJs.js"></script>
	<script src="js/kechengtongji.js"></script>
	<script src="js/echarts.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/element-ui.js"></script>

	<body id="body" class="wide-layout preloader-active">
		<div class="header-menu bg-blue" id="topMenu" style="line-height: 0">
			//calss里的topPosition 属性和style是用于固定顶部的 不需要固定可以删除
			<div class="container">
				<div class="row">
					<div class="container">
						<nav class="nav-bar">
							<div class="nav-header">
								<span class="nav-toggle" data-toggle="#header-navbar"> <i></i>
									<i></i> <i></i>
								</span>
							</div>
							<div id="header-navbar" class="nav-collapse">
								<ul class="nav-menu">
									<li><span> <a href="index.html" class="logo" style="margin-left: -10px;"> <img src="http://localhost:8010/MSLOGO1.PNG"
												 alt="" width="120px" style="height: 50px">
											</a>
										</span></li>
									<li class="dropdown-mega-menu"><a>课程</a>
										<div class="mega-menu" style="width: 39%;">
											<ul style="overflow: hidden; width: 100%;">
												<li v-for="(a,index) in category" v-if="index<6" style="width: 200px; float: left;"><a href="#"><img src="http://localhost:8010/img/apple-touch-icon.png"
														 class="manuImg" />{{a}}</a></li>
												<li v-else style="width: 200px; float: left;"><a href="#"><img src="http://localhost:8010/img/apple-touch-icon.png"
														 class="manuImg" />{{a}}</a></li>
											</ul>
										</div>
									</li>
									<li><a href="coupons_grid.html">2019考研</a></li>
									<li><a href="stores_01.html">学校云</a></li>
									<li><a href="contact_us_01.html">名师专栏</a></li>
									<li style="margin-left: 100px;"><input type="text" class="form-control input-lg search-input" placeholder="搜索感兴趣的课程"
										 required="required" style="border: none; margin-top: 9px; background-color: white; height: 39px; width: 260px;" />
									</li>
									<li>
										<el-button type="success" style=" margin-top: 9px;" icon="el-icon-search"></el-button>
									</li>
									<li id="topUser" style="margin-top: 8px; width: 100px; height: 10px;">
										<div id="myCenter1" style="width: 100%;">
											<el-menu class="el-menu-demo" mode="horizontal" style="border-bottom: none;" active-text-color="#fff">
												<el-submenu index="2"> <template slot="title">
														<a href="myCenter.html" style="color: white;">个人中心</a> </template>
													<div style="width: 20%; margin: 5px auto;">
														<img src="http://localhost:8010/MSLOGO.png" class="myImage" style="border: solid 1px rosybrown;">
													</div>
													<div style="margin: 0 auto; text-align: center; font-size: 20px;">userName</div>
													<el-menu-item>
														<div class="myCourse" style="text-align: center;">
															<a>计算机</a>
														</div>
													</el-menu-item>
													<el-menu-item>
														<div class="myCourse" style="text-align: center;">
															<a>大数据分析</a>
														</div>
													</el-menu-item>
													<el-menu-item>
														<div class="myCourse" style="text-align: center;">
															<a>面向对象编程Java</a>
														</div>
													</el-menu-item>
													<div class="myButton">
														<a href="myCenter.html"><span style="color: #FFFFFF;">我的课程</span></a>
													</div>
												</el-submenu>
											</el-menu>
										</div>
									</li>
									<li id="topUser" style="float: left; margin-top: 8px; width: 120px;">
										<div id="myHeadPic1">
											<el-menu class="el-menu-demo" mode="horizontal" style="border-bottom: none;" active-text-color="#fff">
												<el-submenu> <template slot="title"> <a href="myCenter.html"><img src="http://localhost:8010/MSLOGO.png"
															 style="border: solid 1px rosybrown; width: 100%;" class="myPic"></a> </template>
													<div style="font-size: 14px; color: #869791; text-align: center;">"张三"登录中</div>
													<hr />
													<el-menu-item>
														<div class="mySetting">我的认证证书</div>
													</el-menu-item>
													<el-menu-item>
														<div class="mySetting">我的优惠券</div>
													</el-menu-item>
													<el-menu-item>
														<div class="mySetting">设置</div>
													</el-menu-item>
													<el-menu-item>
														<div class="mySetting">退出</div>
													</el-menu-item>
												</el-submenu>
											</el-menu>
										</div>
									</li>
								</ul>
							</div>

						</nav>
					</div>
				</div>
			</div>
		</div>





		<span id="center_user">
			<div id="xinxi" style="background-image: url(img/xinxi1.jpg); moz-background-size: 100% 100%; background-size: 100% 100%;">
				<div id="touxiang">
					<a title="编辑图片" :href="url"> <img alt="编辑图片" id="timg" :src="imgurl+'/'+imgname" />
					</a>
					<el-button type="text" size="medium">课程管理</el-button>
				</div>
				<div id="guanzhu">
					<span v-if=ismyself> </span> <span v-else-if="isorno==0">
						<el-button type="primary" size="small " @click="gz" icon="el-icon-circle-plus-outline">{{fans}}</el-button>
					</span> <span v-else>
						<el-button type="info" size="small " @click="qgz">{{nofans}}</el-button>
					</span>
				</div>
				<div id="nickname">
					{{msg}}
				</div>
				<div id="zhiye">
					{{zhiye}}&nbsp;|&nbsp;{{xuexiaao}}--{{yuanxi}}

				</div>
				<div id="fansorfous">
					<el-button type="text" @click="fanstab">粉丝{{mfans}}人</el-button>
					<el-button type="text" @click="foustab">关注{{mfous}}人</el-button>
					<el-dialog width="820px" :visible.sync="op" style="margin-top: -50px;">
						<el-tabs style="margin-top: -50px;" v-model="activeName2" id="fansdig" @tab-click="handleClick">
							<el-tab-pane class="fansfans" :label="ss" name="myfans">
								<div class="daxiao">
									<div class="xh" v-for="l in fanslist">
										<a href="#" @click="aaa(l)"> <img class="ftimg" :src="l.ui_headportrait+'/'+l.ui_headportraitname" />
										</a>
										<div class="fname" v-text="l.ui_nickname"></div>
										<span v-show="1!=1" >{{l.u_uid}}</span>
										<span class="fxinxi" v-text="l.identity">&nbsp;|</span>
										<span class="fxinxi" v-text="l.industry"></span> <span id="ffans" class="fxinxi">粉丝{{fensi}}人
										</span> <span class="fguanzhu" v-if="1==3">
											<el-button type="primary" size="small " icon="el-icon-circle-plus-outline">相互关注
										</span> <span class="qfguanzhu" v-else> 相互关注 </span>
									</div>
								</div>

							</el-tab-pane>
							<el-tab-pane class="fansfans" :label="sa" name="myfous">
								<div class="daxiao">
									<div class="xh" v-for="l in fouslist">
										<a href="#" @click="aaa(l)" > <img class="ftimg" :src="l.ui_headportrait+'/'+l.ui_headportraitname" />
										</a>
										<div class="fname" v-text="l.ui_nickname"></div>
										<span class="fxinxi" v-text="l.identity">&nbsp;|</span>
										<span v-show="1!=1" >{{l.u_uid}}</span>
										<span class="fxinxi" v-text="l.industry"></span> <span class="fxinxi">粉丝0人</span>
										<span class="fguanzhu" v-if="1==3">
											<el-button type="primary" size="small " icon="el-icon-circle-plus-outline">关注
										</span> <span class="qfguanzhu" v-else> 已关注 </span>
									</div>
								</div>
							</el-tab-pane>
						</el-tabs>
					</el-dialog>
				</div>
				<div id="jianjie">
					<span>
						<font size="2" color="#8CC5FF">{{jianjie}}</font>
					</span>
				</div>
				<div id="huifutubiao" title="发帖数、回复数、评论数之和">
					<font size="10"><i class="el-icon-edit-outline"></i></font>
				</div>
				<div id="huifufont" title="发帖数、回复数、评论数之和">
					<font size="4" color="8CC5FF"> 主题/回复 </font>
				</div>
				<div id="huifunum" title="发帖数、回复数、评论数之和">
					{{hnum}}
				</div>
				<div id="huozantubiao" title="获得赞数之和">
					<font size="10"><i class="el-icon-view"></i></font>
				</div>
				<div id="huozanfont" title="获得赞数之和">
					<font size="4" color="8CC5FF">获赞数量</font>
				</div>
				<div id="huozannum" title="获得赞数之和">
					{{hznum}}
				</div>
				<div id="xuefentubiao" title="累计学习学分">
					<font size="15"><i class="el-icon-time"></i></font>
				</div>
				<div id="xuefenfont" title="累计学习学分">
					<font size="4" color="8CC5FF">学习学分</font>
				</div>
				<div id="xuefennum" title="累计学习学分">
					{{xnum}}
				</div>
			</div>
			<div id="tongji" :hidden="isNomyself">
				<el-tabs v-model="activeName3" id="ktz1" @tab-click.self="handleClick">
					<el-tab-pane label="--课程--" name="first">
						<div id="main1" style="width: 500px; height: 300px;"></div>
					</el-tab-pane>
					<el-tab-pane label="--成绩--" name="second">
						<div id="main2" style="width: 500px; height: 300px;"></div>
					</el-tab-pane>
				</el-tabs>
			</div>
			<div id="chengji" :hidden="isNomyself">
			<template>
					<el-table :data="chengji" height="250" border style="width: 100%">
						<el-table-column prop="examinfo.endTime" label="截至日期" width="150">
						</el-table-column>
						<el-table-column label="考试信息">
							<el-table-column prop="examinfo.paperName" label="考试名称" width="120">
							</el-table-column>
							<el-table-column prop="examinfo.examType" label="考试方式">
							</el-table-column>
							<el-table-column prop="examScore" label="考试分数">
							</el-table-column>
							</el-table-column>
						</el-table-column>
					</el-table>
				</template>
				<!-- <el-table :data="chengji" height="250" border style="width: 100%">
					<el-table-column prop="examinfo.paperName" label="考试名称" width="180">
					</el-table-column>
					<el-table-column prop="examinfo.examType" label="考试方式" width="180">
					</el-table-column>
					<el-table-column prop="examScore" label="考试分数">
					</el-table-column>
				</el-table> -->
			</div>
			<div id="ktz" :style="myself?classA:classB">
				<el-tabs v-model="activeName1" id="ktz" type="card" @tab-click.self="handleClick">
					<el-tab-pane label="课程" name="first">
						<div class="xh" v-for="l in fouslist">
							<span v-text="l.name"></span> <span v-text="l.img"></span>
						</div>
					</el-tab-pane>
					<el-tab-pane label="讨论" name="second">
						<div v-for="l in fanlist">
							<span v-text="l.name"></span>
							<span v-text="l.img"></span>
						</div>
				</el-tabs>
			</div>
			<script type="text/javascript">
				var app = new Vue({
					el: '#center_user',
					data() {
						return {
							urlPre: "http://localhost:8030/user",
							urlPre1: "http://localhost:8030/postbar",
							imgurl: "",
							imgname: "",
							url: "install.html",
							isNomyself: true,
							ismyself: false,
							activeName1: 'first',
							activeName2: '',
							activeName3: 'first',
							fans: "关注",
							nofans: "已关注",
							isorno: 0,
							msg: "",
							zhiye: "",
							xuexiaao: "",
							yuanxi: "",
							jianjie: "",
							mfans: 0,
							mfous: 0,
							op: false,
							fanslist: [],
							fouslist: [],
							ss: "我的粉丝",
							sa: "我的关注",
							hnum: 0,
							hznum: 0,
							fensi:0,
							xnum: 76,
							activeName: 'first',
							chengji: [],
							classA: 'position: relative;top:100px;width: 100%;margin: auto;',
							classB: 'position: relative;top:10px;width: 100%;margin: auto;',
							myself: true,
							fouslist: [{
								name: "aaaa",
								img: "img"
							}, {
								name: "aaaa",
								img: "img"
							}, {
								name: "aaaa",
								img: "img"
							}],
							fanlist: [{
								name: "aaaa",
								img: "img"
							}, {
								name: "aaaa",
								img: "img"
							}, {
								name: "aaaa",
								img: "img"
							}],
						};
					},
					methods: {
						handleClick(tab, event) {
							console.log(tab, event);
						},
						getUrlKey(name) {
							return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [,
								""
							])[1].replace(/\+/g, '%20')) || null
						},
						getUserInfo() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							axios.get(`${vm.urlPre}/userinfo`, {
									params: {
										uid: uid
									}
								}).then(function(response) {
									vm.imgurl = response.data.ui_headportrait;
									vm.imgname = response.data.ui_headportraitname;
									vm.msg = response.data.ui_nickname;
									vm.zhiye = response.data.identity;
									vm.xuexiaao = response.data.industry;
									vm.yuanxi = response.data.yuanx;
									vm.jianjie = response.data.jianjie;
									console.log(response);
									//alert(response.data.ui_nickname)
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						getIsMyfocus() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							var loginid = localStorage.getItem('loginid');
							if (uid == loginid) {
								//alert(true);
								vm.ismyself = true;
							} else {
								//alert(false);
								vm.ismyself = false;
							}
							axios.get(`${vm.urlPre}/getIsMyfocus`, {
									params: {
										uid: loginid,
										fid: uid
									}
								}).then(function(response) {
									vm.isorno = response.data;
									//alert(response.data)
									console.log(response);
									//alert(response.data.ui_nickname)
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						gz: function() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							var loginid = localStorage.getItem('loginid');
							axios.put(`${vm.urlPre}/putMyfocus?f_uid=` + uid + `&f_ufid=` + loginid)
								.then(function(response) {
									vm.isorno = 1;
									console.log(response);
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						qgz: function() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							var loginid = localStorage.getItem('loginid');
							axios.delete(`${vm.urlPre}/deleteMyfocus`, {
									params: {
										uid: loginid,
										fid: uid
									}
								})
								.then(function(response) {
									vm.isorno = 0;
									console.log(response);
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						aaa: function(l) {
							//localStorage.clear();
							window.localStorage.setItem("uid", l.u_uid);
							var uid = localStorage.getItem('uid');
							alert(uid);
							window.location.href = "User_Center.html?uid="+uid;
						},
						fanstab() {
							var vm = this;
							vm.op = true;
							vm.activeName2 = "myfans";
						},
						foustab() {
							var vm = this;
							vm.op = true;
							vm.activeName2 = "myfous";
						},
						getfans() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							axios.get(`${vm.urlPre}/getMyFans`, {
									params: {
										uid: uid
									}
								})
								.then(function(response) {
									vm.fanslist = response.data;
									console.log(response);
									//alert(response.data)
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						getfanscount() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							axios.get(`${vm.urlPre}/getMyFansCount`, {
									params: {
										uid: uid
									}
								})
								.then(function(response) {
									vm.mfans = response.data;

									console.log(response);
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						getfous() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							axios.get(`${vm.urlPre}/getMyfocus`, {
									params: {
										uid: uid
									}
								})
								.then(function(response) {
									vm.fouslist = response.data;
									console.log(response);
									//alert(response.data)
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						getfouscount() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							axios.get(`${vm.urlPre}/getMyfocusCount`, {
									params: {
										uid: uid
									}
								})
								.then(function(response) {
									vm.mfous = response.data;
									console.log(response);
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						getPostbar() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							axios.get(`${vm.urlPre1}/getPostbarAndReplyAndCommentCountByuId`, {
									params: {
										uid: uid
									}
								})
								.then(function(response) {
									vm.hnum = response.data;
									console.log(response);
									//alert(response.data)
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						getPostbarAndReply() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							axios.get(`${vm.urlPre1}/getPostbarAndReplyAndCommentGoodCountByuId`, {
									params: {
										uid: uid
									}
								})
								.then(function(response) {
									vm.hznum = response.data;
									console.log(response);
									//alert(response.data)
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						queryStudent() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							var loginid = localStorage.getItem('loginid');
							//alert(uid);
							//alert(loginid)
							if (uid == loginid) {
								vm.isNomyself = false;
							} else {
								vm.isNomyself = hidden;
							}
							axios.get(`${vm.urlPre}/queryStudentExaminfoByStuid`, {
									params: {
										stuid: uid
									}
								})
								.then(function(response) {
									vm.chengji = response.data;
									console.log(response);
									//alert(response.data)
									console.log(response.data);
								})
								.catch(function(error) {
									console.log(error);
								});
						},
						tongjixiash() {
							var vm = this;
							var uid = localStorage.getItem('uid');
							var loginid = localStorage.getItem('loginid');
							if (uid == loginid) {
								vm.myself = false;
							} else {
								vm.myself = true;
								vm.chengji = [];
							}
						}
					},
					created: function() {
						var vm = this;
						var uid = this.getUrlKey('uid');
						window.localStorage.setItem("uid", uid);
						this.getUserInfo();
						this.getIsMyfocus();
						this.getfans();
						this.getfous();
						this.getfanscount();
						this.getfouscount();
						this.getPostbar();
						this.getPostbarAndReply();
						this.queryStudent();
						this.tongjixiash();
						window.localStorage.setItem("loginid", 1);
						var uid1 = localStorage.getItem('uid');
						var loginid = localStorage.getItem('loginid');
						if (uid1 == loginid) {
							vm.isNomyself = false;
							vm.ismyself = true;
						} else {
							vm.isNomyself = hidden;
							vm.ismyself = false;
						}
						
					},
					mounted: function() {
						var vm = this;
						var uid = localStorage.getItem('uid');
						var loginid = localStorage.getItem('loginid');
						//alert(uid);
						//alert(loginid);
						if (uid == loginid) {
							vm.url = 'install.html';
						} else {
							vm.url = '#';
						}
					}
				});
			</script>
		</span>
		<script src="js/kechengtongji.js"></script>
		<script src="js/chengji.js"></script>

		<!-- scrolling=no(取消iframe滚动条) onLoad事件调用iFrameHeight方法解决iframe自适应高度问题 -->
		<iframe src="buttom.html" id="iframepage" scrolling=no width="100%" onLoad="iFrameHeight()" style="margin-top: 30px; margin-bottom: -7px;"></iframe>

	</body>
	<script>
		function iFrameHeight() {
			var ifm = document.getElementById("iframepage");
			var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
			if (ifm != null && subWeb != null) {
				ifm.height = subWeb.body.scrollHeight;
			}
		}
	</script>

	<!--顶部导航 虚拟dom（不固定）-->
	<script>
		let topMenu = new Vue({
			el: '#topMenu',
			data: {
				category: []
			},
			methods: {
				//获取所有分类
				getCategory: function() {
					let tis = this;
					axios.get('http://localhost:8010/category').then(function(response) {
						tis.category = response.data
					}).catch(function(error) {
						console.log(error);
					});
				}
			},
			mounted() {
				this.getCategory();
			}
		})
	</script>





</html>
